@model IEnumerable<CMS.ViewModels.VisitViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<h2>Welcome in the <b>C</b>linic <b>M</b>anagement <b>S</b>oftware</h2>
<h3>Today visits:</h3>
@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Visit time</th>
                <th>Patient</th>
                <th>Employee</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Visit.VisitTime
                    </td>
                    <td>
                        @item.Patient.FullName
                    </td>
                    <td>
                        @item.Employee.FullName
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No visits found.</p>
}