@model CMS.ViewModels.VisitPatientEmployeeViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Visit.PatientId" class="control-label">Patient</label>
                <select asp-for="Visit.PatientId" class="form-control">
                    <option value="">-- Select patient --</option>
                    @foreach (var item in Model.Patients)
                    {
                        <option value="@item.PatientId">@item.FullName</option>
                    }
                </select>
                <span asp-validation-for="Visit.PatientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Visit.EmployeeId" class="control-label">Employee</label>
                <select asp-for="Visit.EmployeeId" class="form-control">
                    <option value="">-- Select employee --</option>
                    @foreach (var item in Model.Employees)
                    {
                        <option value="@item.EmployeeId">@item.Name</option>
                    }
                </select>
                <span asp-validation-for="Visit.EmployeeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Visit.VisitTime" class="control-label">Time of the visit</label>
                <input asp-for="Visit.VisitTime" class="form-control" />
                <span asp-validation-for="Visit.VisitTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
