<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CMS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CMS.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="d-flex" id="wrapper">
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading">CMS</div>
            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action bg-light" asp-area="" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
                <a class="list-group-item list-group-item-action bg-light" asp-area="" asp-controller="Visit" asp-action="Index">Visits</a>
                <a class="list-group-item list-group-item-action bg-light" asp-area="" asp-controller="Patient" asp-action="Index">Patients</a>
                <a class="list-group-item list-group-item-action bg-light" asp-area="" asp-controller="Employee" asp-action="Index">Employees</a>
            </div>
        </div>

        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <partial name="_LoginPartial" />
                        </ul>
                    </div>
                </div>
            </nav>

            <main role="main" class="container-fluid">
                @RenderBody()
            </main>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
